* {
  margin: 0px;
  padding: 0px;
}

header {
  background-color: #000000;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

body {
  width: 100%;
}

#languages {
  padding: 6px;
  font-size: 16px;
  border-radius: 4px;
}

.header-button {
  /* margin-right: 10px; */
  height: 3rem;
  width: 8rem;
  /* padding: 8px 12px; */
  background-color: #ff77f8;
  border: none;
  color: rgb(7, 0, 0);
  cursor: pointer;
  border-radius: 34px;
}

.container {
  display: flex;

}

.input-panel {
  flex: 1;
  padding: 10px;
  background-color: #ffffff;
  color: white;
}

.output-panel {
  flex: 1;
  padding: 10px;
  background-color: #3ed5ff;
}

.input-panel h2,
.output-panel h2 {
  margin-top: 0;
  margin-bottom: 1%;
  color: rgb(225, 222, 222);
}

#input-code {
  width: 96%;
  height: 79vh;
  border: 1px solid white;
  padding: 10px;
  overflow: auto;
  color: white;
  background-color: #6b6868;
}

#output-panel {
  width: 96%;
  height: 79vh;
  border: 1px solid white;
  padding: 10px;
  overflow: auto;
  color: black;
}